#btn-save {
    /* Các thuộc tính CSS mặc định cho nút */
    background-color: #50a7f3; /* Màu nền mặc định */
    color: white; /* Màu chữ mặc định */
    padding: 10px 20px; /* Kích thước nút */
    border: none; /* Loại bỏ viền */
    cursor: pointer; /* Hiển thị con trỏ chuột khi hover */
    transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu nền */
}

#btn-save:hover {
    background-color: #8dc2f1; /* Màu nền khi hover */
}