.ml-5{
    margin-left: 300px !important;
    width: 600px !important;
    margin-top: 30px !important;
}
.frm_content div input[type=text],
.frm_content div input[type=password],
.frm_content div input[type=tel],
.frm_content div textarea,
.frm_content div select,
.s_adv div select {
    width: 78% !important;
}